<!-- <div class="user-container" *ngIf="user">
  <h2>Welcome, {{ user.email }}</h2>
  <button >Sign Out</button>
</div> -->



<div class="container">
  <div class="col-md-4 mb-md-0 mb-3">
    <div class="card d-flex flex-column align-items-center justify-content-center">
      <div class="inner-content d-flex flex-column align-items-center justify-content-center">
        <div class="img-container rounded-circle">
          <img src="https://svgshare.com/i/17cJ.svg" alt="" class="rounded-circle">
        </div>
        <!-- Use async pipe to subscribe to the user$ observable -->
        <div class="h3">{{ (user$ | async)?.firstName }} {{ (user$ | async)?.lastName }}</div>
        <p class="designation text-muted text-uppercase">{{ (user$ | async)?.email }}</p>
        <div class="button d-flex justify-content-between mt-2">
          <button type="button" class="btn d-flex justify-content-center border squre-4" (click)="signOut()">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
